/* Pedido Status */
.order-status {
    font-size: 15px;
    text-align: center;
}
.order-status i {
    position: relative;
    color: #ccc;
    border: 3px solid #ccc;
    border-radius: 70px;
    padding: 17px 0;
    margin: 10px 0;
    background-color: #fff;
    font-size: 28px;
    width: 70px;
    height: 70px;
}
.order-status i:after {
    content: "";
    position: absolute;
    width: 65px;
    height: 5px;
    display: block;
    background-color: #ccc;
    right: -65px;
    top: 30px;
}
.order-status i.last:after {
    display: none;
}
.order-status .active i:after {
    background-color: #2dc258;
}
.order-status .active i {
    color: #fff;
    border: 3px solid #2dc258;
    background-color: #2dc258;
}
.order-info {
    margin: 30px 0;
    padding: 15px;
    border: 1px solid #080300
}
.confirmation {
    background: #e8fdf6;
    color: #178C03;
    margin: 30px 0;
    padding: 15px;
    border: 1px solid #2dc258;
}
.confirmation h3{
    padding: 20px;
    background: #2dc258;
    color: #fff;
}
.confirmation span{
    font-weight: bold;
}
.confirmation i{
    padding-right: 15px;
}

/*PedidoStatus*/



body {
    padding: 0;
    margin: 0;
    font: 16px 'Fira Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, .cursive {
    font-family: 'Lobster', cursive;
}
button {
    border: none;
    padding: 15px;
    border-radius: 5px;
}

figure {
    margin: 0;
}

/* Cores */
body, .shop-cart a, .shop-cart a:hover, .menu-categories ul > li > a:hover, .buy-button > form > a, .buy-button > form > a:hover, .add-to-cart, .add-to-cart:hover {
    color: #080300;
}
a, a:hover, #header-top a:hover, .search-bar form > button, .product-price {
    color: #fc1500;
}
button, .white, .white a, .white span, .white i, .white h1, .white h2, .white h3, .footer-widget, .footer-widget h3, .footer-widget a, .shop-cart i > span, .menu-categories ul > li > a, #back-to-top, .buy-button > form > button, .learn-more, .learn-more:hover{
    color: #fff;
}
.bg-white, .menu-categories ul > li > a:hover, .add-to-cart {
    background: #fff;
}
.bg-dark, #header-top{
    background: #080300;
}
.bg-light, .questions a, .learn-more, .button2{
    background: #178C03;
}
button, .bg-color, #back-to-top, .shop-cart i > span, #footer-top, #back-to-top, .buy-button > form > button{
    background: #fc1500;
}

/* Sem Padding */
.no-padding {
    padding: 0;
}

/* Ajustes de Listas */ 
.menu-categories ul, .footer-widget ul, .client-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-categories ul > li > a, .footer-widget ul > li > a, .add-to-cart, .add-to-cart:hover, .learn-more, .learn-more:hover{
    text-decoration: none;
}

/* Flex Itens */ 
.search-bar, .login-display, .shop-cart, .menu-categories ul, .social-bt, .product-grid .item .buy-button, #cart-page > .container > .item > *{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

/* TRANSITIONS */ 
a, button, #back-to-top {
    transition: .2s;
}

/* Margins */
#product-page, #singup-form, #cart-page{
    padding: 30px 0;
} 

/* Header */
#header-top {
    padding: 10px;
    font-weight: bold;
    font-size: 0.85em;
    text-align: center;
}
#header-top a{
    text-decoration: none;
}
#header-top a:hover{
    text-decoration: underline;
}
.logo img {
    max-width: 250px;
}
.search-bar form {
    width: 100%;
    border: 1px solid #080300;
    margin: 5px;
    padding: 5px;
    min-width: 300px;
    height: 44px;
    border-radius: 15px;
}
.search-bar form > input, .search-bar form > button{
    font-size: 1.50em;
    padding: 0;
    line-height: initial;
}
.search-bar form > input {
    width: 90%;
    border: none;
}
.search-bar form > button {
    width: 5%;
    cursor: pointer;
    border: none;
    background: none;
}
.login-display span{
    width: 100%;
}
.shop-cart a {
    font-size: 3em;
    position: relative;
}
.shop-cart i > span {
    position: absolute;
    font-size: 0.3em;
    padding: 4px;
    top: 0;
    right: 0;
    border-radius: 10px;
}
#header-bottom {
    background: #965e3c;
}
.menu-categories ul > li > a{
    padding: 20px;
    text-decoration: none;
    display: block;
    background: transparent;
}
.questions {
    position: relative;
}
.questions a {
    position: absolute;
    padding: 30px 20px;
    border-radius: 0 0 10px 10px;
    text-decoration: none;
    z-index: 99;
}

/* Footer */
#footer-top {
    padding: 2px;
}
#footer-middle {
    background: #333;
    padding: 30px 0;
}
#footer-middle h3{
    font-size: 1.50em;
    margin: 0 0 10px 0;
}
.footer-widget ul > li > a, .footer-widget ul > li > span{
    padding: 5px 0;
    display: inline-block;
}
.footer-widget span, .footer-widget .small-text{
    font-weight: bold;
    font-size: .80em;
}
.footer-widget i{
    margin-right: 5px;
}
.footer-widget img {
    padding: 5px 0;
}
.social-bt i {
    font-size: 2em;
    margin: 0 5px;
}
#footer-bottom {
    background: #ddd;
    text-align: center;
    padding: 15px 0;
    font-size: .75em;
}
#footer-bottom span{
    width: 100%;
}

/* Pagina de Produtos */
#product-img-ative {
    max-width: 635px;
    max-height: 400px;
}
.product-img-gallery {
    display: flex;
    white-space: nowrap;
}
.product-img-gallery img {
    width: 120px;
    height: 120px;
}
h1.product-name {
    font-size: 1.75em;
}
.product-price {
    font-size: 3em;
    margin: 5px 0 5px -15px; 
    position: relative;  
}
.product-price, .product-sku, .product-brand, .product-model, .product-reference, .product-quantity, .price-currency, .price-fraction, .price-separator, .price-decimal{
    font-weight: bold;   
}
.product-price > .price-decimal, .product-price > .price-separator {
    font-size: .40em;
    position: absolute;
    font-weight: normal;
}
.product-price > .price-decimal {
    margin: 8px;
}
.product-meta p {
    margin: 2px;
    font-size: .85em;
}
.buy-button{
    margin: 15px 0;
    font-size: 3em;
}
.buy-button form{
    border: 2px solid #080300;
    display: inline-flex;
    border-radius: 5px;
}
.buy-button > form > a{
    padding: 10px;
}

.buy-button > form > button{
    border: none;
    font-size: 1em;
    padding: 5px;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
}
.product-description {
    margin: 20px;
}
.product-description h3{
    font-size: 2em;
    margin: 0 0 0 10px;
    padding: 10px;
    display: inline-flex;
    border-radius: 10px 10px 0 0;
    border: 1px solid #080300;
    border-bottom: none;
}
.product-description ul{
    border: 1px solid #080300;
    background: #eee;
    margin: 0;
    padding: 20px;
    list-style: none;
    border-radius: 10px;
}

/* Grid de Produtos */
.product-grid img{
    width: 100%;
    height: auto;
    max-width: 220px;
    min-width: 220px;
    max-height: 220px;
    min-height: 220px;
}
.product-grid .item{
    text-align: center;
    padding: 20px;
}
.product-grid .item:hover, .product-showcase .sg-item:hover{
    background: #ddd;
}
.buy-button {
    justify-content: center;
}
.add-to-cart, .learn-more{
    border-radius: 5px;
    font-size: .5em;
    padding: 10px;
    height: 50px;
}
.add-to-cart{
    border: 1px solid #080300;
}
.learn-more{
    text-decoration: none;
    margin-left: 15px;
}
h4.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 45px;
    margin: 10px 0;  
    font-weight: normal;
}
.product-price{
    font-size: 2.5em;
}

/* Galeria Rolante de Produtos */
.product-showcase img{
    width: 100%;
    height: auto;
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
}
.product-showcase h4.product-name {
    height: 40px;
}
.product-showcase .product-price {
    font-size: 2em;
    position: relative;
}
.product-showcase .buy-button, .product-showcase h4.product-name {
    margin: 5px;
}
.product-showcase .add-to-cart, .product-showcase .learn-more{
    font-size: .4em;
}

/* Formulários */
#singup-form label {
    margin: 0 0 0 5px;
}
#singup-form h3 {
    margin-bottom: 20px;
}
#singup-form .row {
    margin-bottom: 15px;
}
#singup-form button {
    border-radius: 5px;
}

/* Componentes */ 
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    opacity: .95;
}
button:hover, #back-to-top:hover, .social-bt a:hover, .buy-button > form > button:hover, .add-to-cart:hover, .learn-more:hover {
    opacity: .75;
}

/* Cart Page */
#cart-page a, #cart-page span, #cart-page form, #cart-page figure {
    display: block;
    width: 100%;
}
#cart-page > .container > .item > * {
    min-height: 80px;
    border: 1px solid #080300
}
#cart-page img {
    width: 80px;
    height: 80px;
}
#cart-page > .container > .item > .cart-p-name{
    text-align: left;
}
#cart-page > .container > .item > .sub-total {
    text-align: right;
}
#cart-page .learn-more {
    margin-left: 0;
    text-align: center;
}
.total-infos {
    border: 1px solid #080300;
    padding: 10px;
    text-align: right;
}
.total-infos p{
    margin: 5px;
}
.total-infos small{
    margin-top: -5px;
}
#cart-page .total-infos span {
    display: inline;
    margin-left: 10px;
}

/* Pagina de Clientes */
.client-menu, .client-requests {
    margin: 20px;
    padding: 20px;
}
.client-menu .row{
    margin-bottom: 30px;
}
#client-page h2, #client-page h4, #client-page p{
    display: block;
    margin: 0;
    padding: 5px;
    width: 100%;
}
#client-page form {
    margin: 10px;
}
#client-page .title {
    background: #ddd;
    border: 1px solid #ddd;
    padding: 20px 0;
}
.client-menu h4{
    border-bottom: 1px solid #080300;
    margin-bottom: 10px;
}
.client-menu ul > li > a{
    display: block;
    padding: 5px;
}
#client-page .request {
    padding: 20px 0;
    border: 1px solid #080300;
}

/* Pagina de Pedido */
#request-page h3, #revision-page h3{
    margin: 30px 0 20px 0;
}
#request-page table h3, #revision-page table h3{
    margin: 10px 0;
}
.info-form > .row {
    margin-bottom: 15px;
}
.summary {
    min-width: 320px;
    max-width: 380px;
    top: 0;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #F2F2F2;
}
.summary table {
    border-collapse: collapse;
    border-spacing: 0; 
    text-align: left;
    display: flex;
    flex-flow: column;
    width: 100%;
}
.summary p {
    font-size: 12px;
    color: #858585;
    text-align: right;
}
.summary h3 {
    color: #474747;
    font-weight: normal;
    font-size: 15px;
    padding: 0 0 7px;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.summary h4 {
    color: #474747;
    font-size: 15px;
    margin: 0;
}
.summary thead, .summary tfoot {
    flex: 0 0 auto;
    width: 100%;
}
.summary tbody { 
    max-height: 300px;
    width: 100%;
    display: block;
    overflow-y: auto;
}
.summary table tbody tr {
    width: 100%;
}
.summary table thead, .summary table tfoot,
.summary table tbody tr {
    display: table;
    table-layout: fixed;
}
.summary tbody td{
    padding: 10px;
}
.summary thead th, .summary tbody .thead td, .summary tfoot td {
    padding: 5px 10px;
}
.summary thead th, .summary tbody .thead td {
    text-align: left;
    background-color: #d9d9d9;
    color: #6c6c6c;
}
.summary thead th, .summary tbody td, .summary tfoot td{
    font-size: 12px;
    color: #858585;
    font-weight: normal;
}
.summary thead th + th, .summary tbody .thead td + td {
    text-align: right;
}
.summary tbody td + td, .summary tfoot td + td {
    font-size: 16px;
    color: #000;
    text-align: right;
    white-space: nowrap;
}
.summary tfoot tr {
    background-color: #d9d9d9;
    border-bottom: 5px solid #F2F2F2;
}
.summary tbody td + td {
    vertical-align: bottom;
}
.summary tfoot td {
    vertical-align: middle;
}
.no-padding-right {
    padding-right: 0;
}
.min-padding-left {
    padding-left: 5px;
}
#aside-fixed-container {
    position: relative;
}
#aside-fixed {
    top: 0;
}
#revision-page input, #revision-page select {
    border: none;
    font-weight: bold;
    color: #000;
}
#revision-page input:focus, #revision-page select:focus {
    border: none;
    box-shadow: none;
}


