<!-- Sessão Footer -->
<footer>
    <div id="footer-top">
        <div class="container">
            <div class="row">
                <!--Aqui entraram as colunas e conteudo -->
            </div>
        </div>
    </div>
    <div id="footer-middle">
        <div class="container">
            <div class="row">
                <!--Aqui entraram as colunas e conteudo -->
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <!--Aqui entraram as colunas e conteudo -->
            </div>
        </div>
    </div>    
</footer>