<!-- Sessão Header -->
<header>
    <div id="header-top">
        <div class="container">
            <div class="row">
                <!--Aqui entraram as colunas e conteudo -->
            </div>
        </div>
    </div>
    <div id="header-middle">
        <div class="container">
            <div class="row">
                <!--Aqui entraram as colunas e conteudo -->
            </div>
        </div>
    </div>
    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <!--Aqui entraram as colunas e conteudo -->
            </div>
        </div>
    </div>    
</header>
