<!-- Sessão Header -->
<header>
    <div id="header-top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <span>Bem vindo</span>
                </div>
                <div class="col">
                    <i class="fas fa-phone"></i>
                    <!-- Pegar fone no sistema-->
                    <a href="tel:1199999999">(11) 9999 - 9999</a>
                </div>
                <div class="col">
                    <i class="fab fa-whatsapp"></i>
                    <!-- Pegar Whatsapp no sistema-->
                    <a href="tel:1199999999">(11) 99999 - 9999</a>
                </div>
            </div>
        </div>
    </div>
    <div id="header-middle">
        <div class="container">
            <div class="row">
                <!--Aqui entraram as colunas e conteudo -->
            </div>
        </div>
    </div>
    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <!--Aqui entraram as colunas e conteudo -->
            </div>
        </div>
    </div>    
</header>
