<!-- Produto -->
<main>
    <div id="product-page">
        <div class="container">
            <div class="row">
                <div class="col-7 product-img">
                    <img id="product-img-ative" src="/template/images/produtos/isqueiro.jpg" alt="" srcset="">
                    <div class="product-img-gallery">
                        <img src="/template/images/produtos/isqueiro.jpg" alt="" srcset="">
                        <img src="/template/images/produtos/isqueiro.jpg" alt="" srcset="">
                        <img src="/template/images/produtos/isqueiro.jpg" alt="" srcset="">
                    </div>
                </div>
                <div class="col-5 produtc-infos">
                    <h1 id="product-name">
                        Nome do Produto, Iqueiro voador não identificado - ISQUEFOFO-1
                    </h1>
                    <p id="product-promotion">
                        <span>De</span> <span class="price-currency">R$</span> <span class="price-fraction">100</span><span class="price-separator">,</span><span class="price-decimal">00</span> <span>por</span>
                    </p>
                    <p id="product-price">
                        <span class="price-currency">R$ </span>                                 <span class="price-fraction">79</span>
                        <span class="price-separator">, </span>
                        <span class="price-decimal">90</span>
                    </p>
                    <p id="product-small-desc">
                        Descrição curta, exemplo: Esse produto é uma gracinha, compra logo
                    </p>
                    <div id="product-meta">
                        <p>
                            <span>REF: </span>
                            <span id="product-sku">REFERENCIADOPRODUTO</span>
                        </p>
                        <p>
                            <span>Marca: </span>
                            <span id="product-brand">Zippo</span>
                        </p>
                        <p>
                            <span>Modelo: </span>
                            <span id="product-model">Normal</span>
                        </p>
                        <p>
                            <span>Referência: </span>
                            <span id="product-reference">99999998845412</span>
                        </p>
                        <p>
                            <span>Disponibilidade: </span>
                            <span id="product-quantity">10</span>
                        </p>
                    </div>
                    <div id="buy-button">
                        <form>
                            <i class="fas fa-cart-plus"></i>
                            <button type="submit">COMPRAR</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col product-description">
                    <div class="item">
                        <h3>Descrição</h3>
                        <ul class="description-box">
                            <li>- Info 1</li>
                            <li>- Info 2</li>
                            <li>- Info 3</li>
                            <li>- Info 4</li>
                            <li>- Info 5</li>
                            <li>- Info 6</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>